//Columnistas
section#columnistas
            .container-fluid.text-center
                .row
                    .cuadro
                        .raya1
                        h4 COLUMNISTAS
                    .col-sm-16
                            .slick.responsive.slider-responsive
                                .gray
                                    img(src="assets/image/img-columnistas.jpg", class="publicidad")
                                    h6 Mario Álvarez Rodrich
                                    h5 Megarrenuncia apulpinante
                                .gray  
                                    img(src="assets/image/img-columnistas.jpg", class="publicidad")
                                    h6 Augusto Álvarez Rodrich
                                    h5 Respuesta a una derrota estridente
                                .col-md-2.gray
                                    img(src="assets/image/img-columnistas.jpg", class="publicidad")
                                    h6 Mario Álvarez Rodrich
                                    h5 Megarrenuncia apulpinante
                                .col-md-2.gray  
                                    img(src="assets/image/img-columnistas.jpg", class="publicidad")
                                    h6 Augusto Álvarez Rodrich
                                    h5 Respuesta a una derrota estridente
                                .col-md-2.gray
                                    img(src="assets/image/img-columnistas.jpg", class="publicidad")
                                    h6 Mario Álvarez Rodrich
                                    h5 Megarrenuncia apulpinante
                                .col-md-2.gray  
                                    img(src="assets/image/img-columnistas.jpg", class="publicidad")
                                    h6 Augusto Álvarez Rodrich
                                    h5 Respuesta a una derrota estridente
                                .col-md-2.gray
                                    img(src="assets/image/img-columnistas.jpg", class="publicidad")
                                    h6 Mario Álvarez Rodrich
                                    h5 Megarrenuncia apulpinante
                                .col-md-2.gray  
                                    img(src="assets/image/img-columnistas.jpg", class="publicidad")
                                    h6 Augusto Álvarez Rodrich
                                    h5 Respuesta a una derrota estridente
                                .col-md-2.gray
                                    img(src="assets/image/img-columnistas.jpg", class="publicidad")
                                    h6 Mario Álvarez Rodrich
                                    h5 Megarrenuncia apulpinante
                                .col-md-2.gray  
                                    img(src="assets/image/img-columnistas.jpg", class="publicidad")
                                    h6 Augusto Álvarez Rodrich
                                    h5 Respuesta a una derrota estridente
                                .col-md-2.gray
                                    img(src="assets/image/img-columnistas.jpg", class="publicidad")
                                    h6 Mario Álvarez Rodrich
                                    h5 Megarrenuncia apulpinante
                                .col-md-2.gray  
                                    img(src="assets/image/img-columnistas.jpg", class="publicidad")
                                    h6 Augusto Álvarez Rodrich
                                    h5 Respuesta a una derrota estridente
                                .col-md-2.gray
                                    img(src="assets/image/img-columnistas.jpg", class="publicidad")
                                    h6 Mario Álvarez Rodrich
                                    h5 Megarrenuncia apulpinante
                                .col-md-2.gray  
                                    img(src="assets/image/img-columnistas.jpg", class="publicidad")
                                    h6 Augusto Álvarez Rodrich
                                    h5 Respuesta a una derrota estridente
                                .col-md-2.gray
                                    img(src="assets/image/img-columnistas.jpg", class="publicidad")
                                    h6 Mario Álvarez Rodrich
                                    h5 Megarrenuncia apulpinante
                                .col-md-2.gray  
                                    img(src="assets/image/img-columnistas.jpg", class="publicidad")
                                    h6 Augusto Álvarez Rodrich
                                    h5 Respuesta a una derrota estridente