//Columnistas
section#columnistas
            .container-fluid.text-center
                .row
                    .cuadro
                        .raya1
                        h4 COLUMNISTAS
                        .slider.slick
                            i
                                a(href='#')
                                    .fa.fa-circle
                            i
                                a(href='#')
                                    .fa.fa-circle
                            i
                                a(href='#')
                                    .fa.fa-circle
                    .col-md-2
                        .black
                    .col-md-2.gray.slick
                        img(src="assets/image/img-columnistas.jpg", class="publicidad")
                        h6 Mario Vargas Llosa
                        h5 Megarrenuncia apulpinante
                    .col-md-2.gray.slick
                        img(src="assets/image/img-columnistas.jpg", class="publicidad")
                        h6 Augusto Álvarez Rodrich
                        h5 Respuesta a una derrota estridente
                    .col-md-2.gray.slick
                        img(src="assets/image/img-columnistas.jpg", class="publicidad")
                        h6 Mario Vargas Llosa
                        h5 Megarrenuncia apulpinante
                    .col-md-2.gray.slick
                        img(src="assets/image/img-columnistas.jpg", class="publicidad")
                        h6 Augusto Álvarez Rodrich
                        h5 Respuesta a una derrota estridente
                    .col-md-2.gray.slick
                        img(src="assets/image/img-columnistas.jpg", class="publicidad")
                        h6 Mario Vargas Llosa
                        h5 Megarrenuncia apulpinante
                    .col-md-2.gray.slick
                        img(src="assets/image/img-columnistas.jpg", class="publicidad")
                        h6 Augusto Álvarez Rodrich
                        h5 Respuesta a una derrota estridente
                    .col-md-2
                        .black