//ENCABEZADO
section#encabezado
            .container-fluid.text-center
                .row
                    .col-md-5
                        .news
                            h5 Mercado de Pases 2015
                            .img-principal
                                p Mercado de pases 2015 altas, bajas y rumores de los equipos peruanos
                             p.parrafo Todo sobre mercado de pases 2015
                        .news
                            h5 Champions League
                            .img-principal
                                p Mercado de pases 2015 altas, bajas y rumores de los equipos peruanos
                             p.parrafo Todo sobre Champions League
                    .col-md-5
                        .news
                            h5 Régimen laboral juvenil
                            .img-principal-pr
                                p Ollanta Humala: Los que han perdido, más allá de tambores y panderetas, son 2 millones de jóvenes | VIDEO
                             p.parrafo Todo sobre el régimen laboral juvenil
                        .news
                            h5 Super Bowl
                            .img-principal-pr
                                p Ollanta Humala: Los que han perdido, más allá de tambores y panderetas, son 2 millones de jóvenes | VIDEO
                             p.parrafo Todo sobre Super Bowl
                    .col-md-5
                        img(src="assets/image/banner-aside-home.jpg")