//Noticias/Emma
h6 Hace 1 hora 12 mins
                        h4 Emma Watson protagonizará 'La bella y la bestia' | VIDEO
                        .news-relevantes
                            +about-someone ("assets/image/img_news.jpg")
                            +social
                        hr
                        h6 Hace 1 hora 12 mins
                        h4 Roque Benavides respalda proyecto Tía María y espera que Conga se socialice
                        .news-relevantes
                            img(src="assets/image/img_news.jpg")
                            p Zenaida Condori Contreras Arequipa Para el presidente de la Compañía de Minas Buenaventura, Roque Benavides, el proyecto Tía María, que promueve Southern Perú, ya debe...
                            +social-2
                        hr
                        h6 Hace 1 hora 12 mins
                        h4 Youtube: hombre finge ahogarse y su perro lo rescata | FOTOS
                        .news-relevantes
                            img(src="assets/image/img_news.jpg")
                            p La actriz Emma Watson fue confirmada por Disney como la protagonista de la 'La bella y la bestia' en la versión de carne y hueso.
                            +social-3
                        hr
                        h6 Hace 1 hora 12 mins
                        h4 Real Madrid: Cristiano Ronaldo fue sancionado con dos partidos y sí estará contra el atlético de Madrid
                        .news-relevantes
                            img(src="assets/image/img_news.jpg")
                            p Después de la pésima actitud de Cristiano Ronaldo, al agredir a Edimar en el partido del cuadro madridista contra el Córdoba, el Comité de Competición ha llegado a la...
                            +social-2
                        hr
                        h6 Hace 1 hora 12 mins
                        h4 Emma Watson protagonizará 'La bella y la bestia' | VIDEO
                        .news-relevantes
                            +about-someone ("assets/image/img_news.jpg")
                            +social
                        hr
                        h6 Hace 1 hora 12 mins
                        h4 Roque Benavides respalda proyecto Tía María y espera que Conga se socialice
                        .news-relevantes
                            img(src="assets/image/img_news.jpg")
                            p Zenaida Condori Contreras Arequipa Para el presidente de la Compañía de Minas Buenaventura, Roque Benavides, el proyecto Tía María, que promueve Southern Perú, ya debe...
                            +social-2
                        hr
                        h6 Hace 1 hora 12 mins
                        h4 Youtube: hombre finge ahogarse y su perro lo rescata | FOTOS
                        .news-relevantes
                            img(src="assets/image/img_news.jpg")
                            p La actriz Emma Watson fue confirmada por Disney como la protagonista de la 'La bella y la bestia' en la versión de carne y hueso.
                            +social-3
                        hr
                        h6 Hace 1 hora 12 mins
                        h4 Real Madrid: Cristiano Ronaldo fue sancionado con dos partidos y sí estará contra el atlético de Madrid
                        .news-relevantes
                            img(src="assets/image/img_news.jpg")
                            p Después de la pésima actitud de Cristiano Ronaldo, al agredir a Edimar en el partido del cuadro madridista contra el Córdoba, el Comité de Competición ha llegado a la...
                            +social-2
                        hr
                        h6 Hace 1 hora 12 mins
                        h4 Emma Watson protagonizará 'La bella y la bestia' | VIDEO
                        .news-relevantes
                            +about-someone ("assets/image/img_news.jpg")
                            +social
                        hr
                        h6 Hace 1 hora 12 mins
                        h4 Roque Benavides respalda proyecto Tía María y espera que Conga se socialice
                        .news-relevantes
                            img(src="assets/image/img_news.jpg")
                            p Zenaida Condori Contreras Arequipa Para el presidente de la Compañía de Minas Buenaventura, Roque Benavides, el proyecto Tía María, que promueve Southern Perú, ya debe...
                            +social-2
                        hr
                        h6 Hace 1 hora 12 mins
                        h4 Youtube: hombre finge ahogarse y su perro lo rescata | FOTOS
                        .news-relevantes
                            img(src="assets/image/img_news.jpg")
                            p La actriz Emma Watson fue confirmada por Disney como la protagonista de la 'La bella y la bestia' en la versión de carne y hueso.
                            +social-3
                        hr
                        h6 Hace 1 hora 12 mins
                        h4 Real Madrid: Cristiano Ronaldo fue sancionado con dos partidos y sí estará contra el atlético de Madrid
                        .news-relevantes
                            img(src="assets/image/img_news.jpg")
                            p Después de la pésima actitud de Cristiano Ronaldo, al agredir a Edimar en el partido del cuadro madridista contra el Córdoba, el Comité de Competición ha llegado a la...
                            +social-2
                        hr
                        h6 Hace 1 hora 12 mins
                        h4 Emma Watson protagonizará 'La bella y la bestia' | VIDEO
                        .news-relevantes
                            img(src="assets/image/img_news.jpg")
                            p La actriz Emma Watson fue confirmada por Disney como la protagonista de la 'La bella y la bestia' en la versión de carne y hueso.
                            +social-2
                        hr
                        h6 Hace 1 hora 12 mins
                        h4 Roque Benavides respalda proyecto Tía María y espera que Conga se socialice
                        .news-relevantes
                            img(src="assets/image/img_news.jpg")
                            p Zenaida Condori Contreras Arequipa Para el presidente de la Compañía de Minas Buenaventura, Roque Benavides, el proyecto Tía María, que promueve Southern Perú, ya debe...
                            +social-3
                        hr
                        h6 Hace 1 hora 12 mins
                        h4 Youtube: hombre finge ahogarse y su perro lo rescata | FOTOS
                        .news-relevantes
                            img(src="assets/image/img_news.jpg")
                            p La actriz Emma Watson fue confirmada por Disney como la protagonista de la 'La bella y la bestia' en la versión de carne y hueso.
                            +social-2
                        hr
                        h6 Hace 1 hora 12 mins
                        h4 Real Madrid: Cristiano Ronaldo fue sancionado con dos partidos y sí estará contra el atlético de Madrid
                        .news-relevantes
                            +about-someone ("assets/image/img_news.jpg")
                            +social
                        hr
                        h6 Hace 1 hora 12 mins
                        h4 Emma Watson protagonizará 'La bella y la bestia' | VIDEO
                        .news-relevantes
                            img(src="assets/image/img_news.jpg")
                            p La actriz Emma Watson fue confirmada por Disney como la protagonista de la 'La bella y la bestia' en la versión de carne y hueso.
                            +social-2
                        hr
                        h6 Hace 1 hora 12 mins
                        h4 Roque Benavides respalda proyecto Tía María y espera que Conga se socialice
                        .news-relevantes
                            img(src="assets/image/img_news.jpg")
                            p Zenaida Condori Contreras Arequipa Para el presidente de la Compañía de Minas Buenaventura, Roque Benavides, el proyecto Tía María, que promueve Southern Perú, ya debe...
                            +social-3
                        hr
                        h6 Hace 1 hora 12 mins
                        h4 Youtube: hombre finge ahogarse y su perro lo rescata | FOTOS
                        .news-relevantes
                            img(src="assets/image/img_news.jpg")
                            p La actriz Emma Watson fue confirmada por Disney como la protagonista de la 'La bella y la bestia' en la versión de carne y hueso.
                            +social-2
                        hr
                        h6 Hace 1 hora 12 mins
                        h4 Real Madrid: Cristiano Ronaldo fue sancionado con dos partidos y sí estará contra el atlético de Madrid
                        .news-relevantes
                            +about-someone ("assets/image/img_news.jpg")
                            +social
                        hr
                        h6 Hace 1 hora 12 mins
                        h4 Emma Watson protagonizará 'La bella y la bestia' | VIDEO
                        .news-relevantes
                            img(src="assets/image/img_news.jpg")
                            p La actriz Emma Watson fue confirmada por Disney como la protagonista de la 'La bella y la bestia' en la versión de carne y hueso.
                            +social-2
                        hr
                        h6 Hace 1 hora 12 mins
                        h4 Emma Watson protagonizará 'La bella y la bestia' | VIDEO
                        .news-relevantes
                            img(src="assets/image/img_news.jpg")
                            p La actriz Emma Watson fue confirmada por Disney como la protagonista de la 'La bella y la bestia' en la versión de carne y hueso.
                            +social-3
                        hr
                        h6 Hace 1 hora 12 mins
                        h4 Emma Watson protagonizará 'La bella y la bestia' | VIDEO
                        .news-relevantes
                            img(src="assets/image/img_news.jpg")
                            p La actriz Emma Watson fue confirmada por Disney como la protagonista de la 'La bella y la bestia' en la versión de carne y hueso.
                            +social-2
                        hr
                        h6 Hace 1 hora 12 mins
                        h4 Emma Watson protagonizará 'La bella y la bestia' | VIDEO
                        .news-relevantes
                            img(src="assets/image/img_news.jpg")
                            p La actriz Emma Watson fue confirmada por Disney como la protagonista de la 'La bella y la bestia' en la versión de carne y hueso.
                            +social-2
                        hr
                        h6 Hace 1 hora 12 mins
                        h4 Emma Watson protagonizará 'La bella y la bestia' | VIDEO
                        .news-relevantes
                            img(src="assets/image/img_news.jpg")
                            p La actriz Emma Watson fue confirmada por Disney como la protagonista de la 'La bella y la bestia' en la versión de carne y hueso.
                            +social-3
                        hr
                        h6 Hace 1 hora 12 mins
                        h4 Emma Watson protagonizará 'La bella y la bestia' | VIDEO
                        .news-relevantes
                            img(src="assets/image/img_news.jpg")
                            p La actriz Emma Watson fue confirmada por Disney como la protagonista de la 'La bella y la bestia' en la versión de carne y hueso.
                            +social-2
                        hr
                        h6 Hace 1 hora 12 mins
                        h4 Emma Watson protagonizará 'La bella y la bestia' | VIDEO
                        .news-relevantes
                            +about-someone ("assets/image/img_news.jpg")
                            +social
                        hr
                        h6 Hace 1 hora 12 mins
                        h4 Emma Watson protagonizará 'La bella y la bestia' | VIDEO
                        .news-relevantes
                            img(src="assets/image/img_news.jpg")
                            p La actriz Emma Watson fue confirmada por Disney como la protagonista de la 'La bella y la bestia' en la versión de carne y hueso.
                            +social-2
                        hr
                        h6 Hace 1 hora 12 mins
                        h4 Emma Watson protagonizará 'La bella y la bestia' | VIDEO
                        .news-relevantes
                            img(src="assets/image/img_news.jpg")
                            p La actriz Emma Watson fue confirmada por Disney como la protagonista de la 'La bella y la bestia' en la versión de carne y hueso.
                            +social-3
                        hr
                        h6 Hace 1 hora 12 mins
                        h4 Emma Watson protagonizará 'La bella y la bestia' | VIDEO
                        .news-relevantes
                            img(src="assets/image/img_news.jpg")
                            p La actriz Emma Watson fue confirmada por Disney como la protagonista de la 'La bella y la bestia' en la versión de carne y hueso.
                            +social-2
                        hr
                        h6 Hace 1 hora 12 mins
                        h4 Emma Watson protagonizará 'La bella y la bestia' | VIDEO
                        .news-relevantes
                            +about-someone ("assets/image/img_news.jpg")
                            +social
                        hr
                        h6 Hace 1 hora 12 mins
                        h4 Emma Watson protagonizará 'La bella y la bestia' | VIDEO
                        .news-relevantes
                            img(src="assets/image/img_news.jpg")
                            p La actriz Emma Watson fue confirmada por Disney como la protagonista de la 'La bella y la bestia' en la versión de carne y hueso.
                            +social-2
                        hr
                        h6 Hace 1 hora 12 mins
                        h4 Emma Watson protagonizará 'La bella y la bestia' | VIDEO
                        .news-relevantes
                            img(src="assets/image/img_news.jpg")
                            p La actriz Emma Watson fue confirmada por Disney como la protagonista de la 'La bella y la bestia' en la versión de carne y hueso.
                            +social-3
                        hr
                        h6 Hace 1 hora 12 mins
                        h4 Emma Watson protagonizará 'La bella y la bestia' | VIDEO
                        .news-relevantes
                            img(src="assets/image/img_news.jpg")
                            p La actriz Emma Watson fue confirmada por Disney como la protagonista de la 'La bella y la bestia' en la versión de carne y hueso.
                            +social-2
                        hr