section#portada
            .container-fluid.text-center
                .row
                    .col-md-16
                        h1 GUERRA EN LA MUNICIPALIDAD DE LIMA METROPOLITANA
                        .iconos
                            i.fa.fa-facebook.fa-stack
                            i.fa.fa-twitter.fa-stack
                            i.fa.fa-google-plus.fa-stack
                            i.fa.fa-circle
                            a(href="#", class="minutes") Hace 12 minutos
                            i.fa.fa-circle
                            a(href="#", class="minutes") POLÍTICA
                        .row
                            .col-md-8
                                .imagen
                                    h3 JNE impulsará campaña en favor de la aprobación de la Reforma Electoral
                            .col-md-8
                                .imagen1
                                    h4 Martin Belaunde Lossio: Empresas vinculadas al empresario contrataron por s/. 3 000 millones | FOTOS
                                .imagen1
                                    h4 Martin Belaunde Lossio: Empresas vinculadas al empresario contrataron por s/. 3 000 millones | FOTOS