$rojillo: #B96063;
$black: #111417;
$skyblue: #55ACEE;
$blue: #2E6296;
$softsilver: #F4F5F7;
$silver: #F2F2F2;
$darksilver: #768696;
$red: #BA1414;
$Oswald: "Oswald";
$PT-Sans: "PT Sans";

*{
	p {
		font-family: $PT-Sans;

	}
}
/*Mixins*/
@mixin background ($background, $color) {
    background-color: $background;
    color: $color;
}
@mixin texto ($peso, $size, $color) {
	font-weight: $peso;
	font-size: $size;
    color: $color;

}
@mixin headline ($peso, $size) {
  font-weight: $peso;
  font-size: $size;
}
@mixin padding ($left, $top, $bottom, $right) {
	padding-left: $left;
	padding-top: $top;
	padding-bottom: $bottom;
	padding-right: $right;
}
@mixin margin ($left, $top, $bottom, $right) {
	margin-left: $left;
	margin-top: $top;
	margin-bottom: $bottom;
	margin-right: $right;
}
@mixin boxy ($bWidth, $bStyle, $bColor) {
  border-width: $bWidth;
  border-style: $bStyle;
  border-color: $bColor;
}
@mixin estructura ($width, $height) {
	width: $width;
	height: $height;
}
/*Portada*/
#portada {
	.iconos {
		margin-bottom: 3%; 
	.fa-facebook {
		border-radius: 5px;
		border-bottom: 3px solid blue;
		text-align: center;
		@include background (#ECEFEC, blue);
	&:hover {
		@include background (blue, white);
	}
	}
	.fa-twitter {
		border-radius: 5px;
		border-bottom: 3px solid #50B1F7;
		text-align: center;
		@include background (#ECEFEC, #50B1F7);
	&:hover {
		@include background (#50B1F7, white);
	}
	}
	.fa-google-plus {
		border-radius: 5px;
		border-bottom: 3px solid #B00002;
		text-align: center;
		@include background (#ECEFEC, #B00002);
	&:hover {
		@include background (#B00002, white);
	}
	}
	.fa-circle {
		font-size: 8px;
		margin: 2%;
	}
	i {
		margin: 5px;
	}
	}
	.minutes {
		margin: 1%;
		text-decoration: none;
		font-size: 12px;
	}
	h1 {
	@include headline (bold, 46px);
	}
	.publicidad {
		width: 100%;
		height: 600px;
	}
}
#portada {
	.col-md-12
		.col-md-8 {
			.imagen {
				padding: 41% 4%;
				width: 100%;
				background-image: url("../../assets/image/img_grid_principal.jpg");
				background-size: cover;
				background-repeat: no-repeat;
				background-position: normal;
				margin-bottom: 5%;

				h3 {
					position: relative;
					bottom: -160px;
					text-align: left;
					text-shadow: 0 1px 0 #393939;
				@include texto (bold, 28px, white);
				}
			}
			.imagen1 {
				padding: 15.6% 4%;
				width: 100%;
				background-image: url("../../assets/image/img_grid_secundario.jpg");
				background-size: cover;
				background-repeat: no-repeat;
				background-position: normal;
				margin-bottom: 5%;
				h4 {
					position: relative;
					bottom: -70px;
					text-align: left;
				@include texto (bold, 22px, white);
				}
			}
		}
}
/*Encabezado*/
#encabezado {
	.news {
		border: 1px solid gray;
		width: 100%;
		margin-bottom: 6%;
	}
	h5 {
		color: #BF0025;
		font-weight: bold;
	}
	p {
		font-weight: bold;
	}
	.col-md-4 {
			.img-principal {
				padding: 18.6% 4%;
				width: 100%;
				background-image: url("../../assets/image/img_especiales.jpg");
				background-size: cover;
				background-repeat: no-repeat;
				background-position: normal;
				margin-bottom: 5%;
				p {
					color: white;
					font-weight: bold;
					text-align: left;
					position: relative;
					bottom: -50px;
				}
			}
			.img-principal-pr {
				padding: 14.6% 4%;
				width: 100%;
				background-image: url("../../assets/image/img_especiales_aside.jpg");
				background-size: cover;
				background-repeat: no-repeat;
				background-position: normal;
				margin-bottom: 5%;
				p {
					color: white;
					font-weight: bold;
					text-align: left;
					position: relative;
					bottom: -50px;
				}
			}
	}
	img {
		width: 100%;
	}
	.shadow {
    position: relative;
    top: -5%;
    width: 100%;
    height: 45%;
    background: #ccc;
    padding: 5px;
}
}
/*NOTICIAS*/
#noticias {
	i {
		margin: 0.5%;
	}
	h6 {
		margin-top: 2%;
	}
	.fa-angle-double-down {
		color: red;
	}
	.noticias-last {
		font-size: 15px;
		font-weight: bold;
	}
	.fa-facebook {
		border-radius: 5px;
		border-bottom: 3px solid blue;
		text-align: center;
		@include background (#ECEFEC, blue);
	}
	.fa-twitter {
		border-radius: 5px;
		border-bottom: 3px solid #50B1F7;
		text-align: center;
		@include background (#ECEFEC, #50B1F7);
	}
	.fa-google-plus {
		border-radius: 5px;
		border-bottom: 3px solid #B00002;
		text-align: center;
		@include background (#ECEFEC, #B00002);
	}
	.fa-youtube-play, .fa-camera {
		color: #B00002;
	}
	.fa-circle {
		font-size: 6px;
		margin: 2.1%;
	}
	a {
		font-family: $Oswald;
	}
	img {
		float: left;
		margin-right: 2%;
		margin-bottom: 3%;
	}
	p {
		margin-top: 3%;
		font-size: 14px;
	}
	hr {
		width: 100%;
	}
	.letter {
		font-size: 13px;
		margin: 1%;
	}
	.number {
		font-size: 12px;
		margin: 2%;
	}
	.comment {
		position: relative;
		right: -27%;
		bottom: -12px;
	}
	.box-boletin {
		min-height: 240px;
		max-width: 100%;
		padding: 3%;
		background-image: url("../../assets/image/archive-sidebar-bg.jpg");
		margin-bottom: 5%;
		.mensajeria {
			background-color: white;
			margin-top: 15%;
			min-height: 190px;
			img {
				padding-left: 37%;
				padding-right: 42%;
				position: relative;
				top: -23px;
			}
			h4 {
				position: relative;
				top: -10px;
				text-align: center;
				width: 98%;
			}
			input {
				margin-left: 12%;
				width: 75%;
				border-radius: 5px;
				position: relative;
				top: -10px;
				text-align: center;
			}
			button {
				padding: 2% 14%;
				border-radius: 5px;
				border-color: #B00002;
				text-align: center;
				margin-left: 13%;
				width: 75%;
				@include background (#B00002, white);
			}
		}
	}
}
#noticias {
	.aweita {
		margin-top: 10%;
		border: 1px solid gray;
		padding-top: 2%;
		padding-bottom: 0;
		margin-bottom: 10%;
		.logo {
			padding-left: 27%;
			padding-right: 47%;
			margin-bottom: 7%;
		}
		.img-aweita {
			padding: 2%;
			img {
				float: left;
				margin-right: 2%;
			}
		}
		.parrafo {
			position: relative;
			top: -10px;
		}
		.link {
			text-align: center;
			margin-bottom: 0;
		}
		a {
			margin-left: 2%;
			color: purple;
			font-weight: bold;
		}
		.raya {
			height: 2px;
			border-bottom: 3px solid purple;
			width: 50%;
			text-align: center;
			position: relative; 
			right: -25%;
		}
	}
}
#noticias {
	.fotos-destacadas {
		.raya1 {
			height: 3px;
			margin-top: 5%;
			border-bottom: 5px solid #788393;
		}
		h4 {
           width: 70%;
           text-align: center;
           margin-left: 15%;
           padding: 2% 2%;
           position: relative;
           top: -20px;
           font-family: $Oswald;
           @include background (#788393, white);
		}
		img {
			border: 4px solid #788393;
			width: 100%;
		}
		.lineas {
			line-height: 1;
			margin-bottom: 7%;
			@include texto (bold, 16px, #788393);
		}
	}
	.fotos-destacadas1 {
		img {
			margin-top: 5%;
		}
		p {
			font-weight: bold;
			font-size: 14px;
		}
	}
	.especiales {
		.raya1 {
			height: 3px;
			margin-top: 5%;
			border-bottom: 5px solid #788393;
		}
		h4 {
           width: 60%;
           text-align: center;
           margin-left: 20%;
           padding: 2% 0%;
           position: relative;
           top: -20px;
           font-family: $Oswald;
           @include background (#788393, white);
		}
		img {
			width: 100%;
		}
		.cuadro {
			padding: 23.6% 4%;
		    width: 100%;
			background-image: url("../../assets/image/img_especiales_aside.jpg");
			background-size: cover;
			background-repeat: no-repeat;
			background-position: normal;
			margin-bottom: 5%;
			h5 {
				padding: 2% 7%;
				background-color: white;
				position: relative;
				bottom: -65px;
				font-weight: bold;
				font-size: 17px;
				text-align: center;
			}
		}
	}
}
#noticias {
	.caricaturas {
		.raya1 {
			height: 3px;
			margin-top: 10%;
			border-bottom: 5px solid #BF0025;
		}
		h4 {
           width: 80%;
           text-align: center;
           margin-left: 10%;
           padding: 2% 0%;
           position: relative;
           top: -20px;
           font-family: $Oswald;
           @include background (#BF0025, white);
		}
		h5 {
			font-weight: bold;
			text-align: center;
			font-size: 18px;
		}
		p {
			text-align: center;
			@include texto (bold, 16px, #BF0025);
		}
		img {
			width: 100%;
		}
	}
}
#noticias {
	.blogueros {
		.raya1 {
			height: 3px;
			margin-top: 5%;
			border-bottom: 5px solid #788393;
		}
		h4 {
           width: 80%;
           text-align: center;
           margin-left: 10%;
           padding: 2% 0%;
           position: relative;
           top: -20px;
           font-family: $Oswald;
           @include background (#788393, white);
		}
	}
	.writer-man {
		margin-bottom: 2%;
		img {
			float: left;
			margin-right: 2%;
			margin-top: 1%;
		}
		a {
			font-size: 12px;
			color: #585858;
			font-family: Arial;
			font-weight: bold;
			text-decoration: underline;
		}
		h5 {
			color: #585858;
			font-weight: bold;
			margin-top: 1%;
		}
	}
	.p-blog {
		color: $rojillo;
		font-weight: bold;
		text-align: center;
	}
}

#noticias {
	.edicion-impresa {
		.raya1 {
			height: 3px;
			margin-top: 10%;
			border-bottom: 5px solid #BF0025;
		}
		h4 {
           width: 80%;
           text-align: center;
           margin-left: 10%;
           padding: 2% 0%;
           position: relative;
           top: -20px;
           font-family: $Oswald;
           @include background (#BF0025, white);
		}
		h5 {
			text-align: center;
			@include texto (bold, 17px, black);
		}
		img {
			width: 100%;
		}
	}
	.newspaper {
		margin-bottom: 2%;
		img {
			float: left;
		}
		.general {
			font-size: 16px;
			font-weight: bold;
			margin-top: 40px;
		}
		.republica {
			font-size: 16px;
			font-weight: bold;
			margin-top: 1px;
		}
		a {
			text-decoration: underline;
			@include texto (bold, 13px, red);
		}
		h5, a {
			position: relative;
			bottom: -57px;
		}
	}
}
/*Encuesta*/
#noticias {
	.box-encuesta {
		padding: 5px;
		width: 100%;
		height: 340px;
		background-image: url("../../assets/image/bg_trama_rayas.png");
		background-size: cover;
		background-repeat: repeat;
		background-position: normal;
		margin-bottom: 5%;
		.encuesta {
			background-color: white;
			margin-top: 15%;
			height: 250px;
			img {
				display: block;
				padding: 0 38%;
				position: relative;
				top: -23px;
			}
			h4 {
				position: relative;
				top: -10px;
				text-align: center;
				width: 98%;
			}
			input {
				margin-left: 12%;
				width: 75%;
				border-radius: 5px;
				position: relative;
				top: -10px;
				text-align: center;
			}
			button {
				padding: 2% 14%;
				border-radius: 5px;
				border-color: #B00002;
				text-align: center;
				margin-left: 13%;
				width: 75%;
				@include background (#B00002, white);
			}
	}
}
}
/*LIBERO*/
#noticias {
	.libero {
		margin-top: 10%;
		border: 1px solid gray;
		padding-top: 2%;
		padding-bottom: 0;
		margin-bottom: 10%;
		.logo {
			padding-left: 25%;
			padding-right: 49%;
			margin-bottom: 7%;
		}
		.img-libero {
			padding: 2%;
			img {
				float: left;
				margin-right: 2%;
			}
		}
		.parrafo {
			position: relative;
			top: -10px;
		}
		.link {
			text-align: center;
			margin-bottom: 0;
		}
		a {
			margin-left: 2%;
			color: red;
			font-weight: bold;
		}
		.raya {
			height: 2px;
			border-bottom: 3px solid red;
			width: 50%;
			text-align: center;
			position: relative; 
			right: -25%;
		}
	}
}
/*POPULAR*/

#noticias {
	.el-popular {
		margin-top: 10%;
		border: 1px solid gray;
		padding-top: 2%;
		padding-bottom: 0;
		margin-bottom: 10%;
		.logo {
			padding-left: 25%;
			padding-right: 49%;
			margin-bottom: 7%;
		}
		.img-popular {
			padding: 2%;
			img {
				float: left;
				margin-right: 2%;
			}
		}
		.parrafo {
			position: relative;
			top: -10px;
		}
		.link {
			text-align: center;
			margin-bottom: 0;
		}
		a {
			margin-left: 2%;
			color: red;
			font-weight: bold;
		}
		.raya {
			height: 2px;
			border-bottom: 3px solid yellow;
			width: 50%;
			text-align: center;
			position: relative; 
			right: -25%;
		}
	}
}
/*WAPA*/
#noticias {
	.wapa {
		margin-top: 10%;
		border: 1px solid gray;
		padding-top: 2%;
		padding-bottom: 0;
		margin-bottom: 10%;
		.logo {
			padding-left: 25%;
			padding-right: 49%;
			margin-bottom: 7%;
		}
		.img-wapa {
			padding: 2%;
			img {
				float: left;
				margin-right: 2%;
			}
		}
		.parrafo {
			position: relative;
			top: -10px;
		}
		.link {
			text-align: center;
			margin-bottom: 0;
		}
		a {
			margin-left: 2%;
			color: red;
			font-weight: bold;
		}
		.raya {
			height: 2px;
			border-bottom: 3px solid red;
			width: 50%;
			text-align: center;
			position: relative; 
			right: -25%;
		}
	}
}
/*CAR SECTION*/
#noticias {
	.box-car {
		padding: 5%;
		max-width: 100%;
		min-height: 570px;
		background-image: url("../../assets/image/archive-sidebar-bg.jpg");
		margin-bottom: 5%;
		button {
				padding: 2% 14%;
				border-radius: 5px;
				border-color: #B00002;
				text-align: center;
				margin-left: 13%;
				width: 75%;
				margin-top: 4%;
				@include background (#B00002, white);
			}
		.color {
			text-align: center;
			color: red;
			font-weight: bold;
		}
		.mensajeria {
			background-color: white;
			margin-top: 15%;
			height: 438px;
			padding-left: 4%;
			padding-right: 3%;
			.camera {
				padding-left: 37%;
				padding-right: 49%;
				position: relative;
				top: -23px;
			}
			.car {
				max-width: 97%;
				padding-left: 1%;
				padding-right: 1px;
			}
			h4 {
				position: relative;
				top: -10px;
				text-align: center;
				width: 98%;
				font-weight: bold;
				padding-right: 5%;
			}
			h5 {
				font-weight: bold;
				text-align: center;
			}
			input {
				margin-left: 12%;
				width: 75%;
				border-radius: 5px;
				position: relative;
				top: -10px;
				text-align: center;
			}
			p {
				padding-bottom: 2%;
			}
		}
}
}

/*BAR SECTION*/
#noticias {
	.box-bar {
		padding: 5%;
		max-width: 100%;
		min-height: 540px;
		background-image: url("../../assets/image/archive-sidebar-bg.jpg");
		margin-bottom: 5%;
		.resultados {
			background-color: white;
			padding: 4%;
			margin-top: 5%;
			h4 {
				padding-top: 1%;
				font-weight: bold;
				text-align: center;
			}
			p {
				padding-left: 6%;
			}
			.progress{
				height: 27px;
				background-color: #f5f5f5;
				width: 98%;
                .progress-bar {
                	width: 45%;
                	height: 27px;
                	background-color: #CBF4A5;
                	p {
                		font-weight: bold;
                		text-align: center;
                		padding-top: 3%;
                	}
                }
                .progress-bar1 {
                	width: 45%;
                	height: 27px;
                	background-color: pink;
                	p {
                		font-weight: bold;
                		text-align: center;
                		padding-top: 3%;
                	}
                }
			}
			.parrafo {
				color: red;
				text-align: center;
				font-weight: bold;
				padding-bottom: 2%;
			}
		}
		.encuesta {
			background-color: white;
			margin-top: 15%;
			height: 250px;
			img {
				padding-left: 40%;
				padding-right: 50%;
				position: relative;
				top: -23px;
			}
			.parrafo1 {
				padding-left: 4%;
			}
			.parrafo {
				color: red;
				text-align: center;
				font-weight: bold;
				font-family: "Oswald";			}
			h4 {
				position: relative;
				top: -10px;
				text-align: center;
				width: 98%;
			}
			input {
				margin-left: 12%;
				width: 75%;
				border-radius: 5px;
				position: relative;
				top: -10px;
				text-align: center;
			}
			button {
				padding: 2% 14%;
				border-radius: 5px;
				border-color: #B00002;
				text-align: center;
				margin-left: 13%;
				width: 75%;
				@include background (#B00002, white);
			}
	}
}
}
/*Section EMMA*/
#noticias {
		h4 {
			font-family: "PT Sans";
			font-weight: bold;
		}
}
/*Section Columnistas*/
#columnistas {
	.cuadro {
		background-color: #f2f2f2;
		width: 75%;
		position: relative;
		right: -12.5%;
		bottom: -6%;
		.raya1 {
			height: 3px;
			margin-top: 5%;
			border-bottom: 5px solid #B10002;
			width: 100%;
		}
		h4 {
           max-width: 35%;
           text-align: center;
           margin-left: 15%;
           padding: 1% 2%;
           position: relative;
           top: -20px;
           right: -17%;
           font-family: $Oswald;
           @include background (#B10002, white);
		}
	}
		img {
			border: 5px solid white;
		}
		.gray {
          background-color: #F2F2F2;
          padding-top: 2%;
          margin-bottom: 4%;
		}
		h5 {
			font-weight: bold;
		}
		h6 {
			text-decoration: underline;
			font-weight: 9px;
		}
}