extends ./layout/header.jade
block pagina
	title Contacto
block contenido
	//section
		.container
			.row
				form
					input.form-control(type="text",placeholder="nombre")
					input.form-control(type="text",placeholder="nombre")