extends ./layout/header.jade
block pagina
	title Contacto
block contenido
	section#mensaje
		.container
			.row.text-center
				h1 Contáctese con nosotros
				p llena este formulario si nesesita enviarnos alguna informacion acerca del contenido del sitio web, su funcionalidad,o si tiene alguna propuesta de informacion o mejora para el sitio. Asi mismo, puede hacer llegar a los redactores su opinión acerca de los contenidos de una determinada sección el cual podra elegir como destinatario.
				.caja
					form
						input.form-control(type="text",placeholder="Nombres Completos")
						input.form-control(type="text",placeholder="Correo electrónico")
						input.form-control(type="text",placeholder="Teléfonos")
						span (opcional)
					.cajon.text-left
						h1.text-left Elija un destinatario
						.radio
							label
								input(type="radio", name="optionsRadios", id="optionsRadios1", value="option1",cheked)
								option(data-toggle="tooltip" data-placement="top" title="Sugerencias para el sitio web") Sugerencias para el sitio web
								p (ej:funcionamiento y mejoras para el sitio)
						.radio
							label
								input(type="radio", name="optionsRadios", id="optionsRadios1", value="option1",cheked)
								option(data-toggle="tooltip" data-placement="top" title="Direccion periodística") Direccion periodística
								p (ej:sugerencia para la nota de prensa) 
						.radio
							label
								input(type="radio", name="optionsRadios", id="optionsRadios1", value="option1",cheked)
								option(data-toggle="tooltip" data-placement="top" title="Direccion comercial") Direccion comercial
								p (ej:Publicidad en diarios o sitios web)  
						.radio
							label
								input(type="radio", name="optionsRadios", id="optionsRadios1", value="option1",cheked)
								option(data-toggle="tooltip" data-placement="top" title="Cartas al director") Cartas al director
								p (ej:denuncias,comentarios e impresiones)  
						.radio
							label
								input(type="radio", name="optionsRadios", id="optionsRadios1", value="option1",cheked)
								option(data-toggle="tooltip" data-placement="top" title="promociones y productos del diario") promociones y productos del diario
								p (ej:Promociones,tablet,etc)  
						.radio
							label
								input(type="radio", name="optionsRadios", id="optionsRadios1", value="option1",cheked)
								option(data-toggle="tooltip" data-placement="top" title="Archivo periodistico") Archivo periodistico
								p (ej:ediciones impresas/fotos)  
						textarea(name="messaje",placeholder="Mensaje")
						img(src="./assets/image/contacto_submit_btn.jpg", alt="")