doctype html
html(lang='es-PE')
  head
    meta(charset='UTF-8')
    title Home
    link(href='http://fonts.googleapis.com/css?family=PT+Sans:400,700', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Oswald:400,700', rel='stylesheet', type='text/css')
    link(rel='stylesheet', type='text/css', href='assets/css/dist/font-awesome.min.css')
    link(rel='stylesheet', type='text/css', href='assets/css/dist/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='assets/css/dist/slick.css')
    link(rel='stylesheet', type='text/css', href='assets/css/dist/slick-theme.css')
    link(rel='stylesheet', type='text/css', href='assets/css/main.css')
    script(src='http://code.jquery.com/jquery-1.11.2.min.js')
    script(src='http://code.jquery.com/jquery-migrate-1.2.1.min.js')
    script(type='text/javascript', src='js/bootstrap.min.js')
    script(type='text/javascript', src='js/slick.min.js')
    script(type='text/javascript', src='js/bootstrap-hover-dropdown.min.js')
    script(type='text/javascript', src='js/modernizr.custom.68172.js')
    script(type='text/javascript', src='js/respond.js')
  body
    header
    section#portada
        .container-fluid.text-center
            .row
                .col-md-2
                .col-md-12
                    h1 GUERRA EN LA MUNICIPALIDAD DE LIMA METROPOLITANA
                    i.fa.fa-facebook-square
                    i.fa.fa-twitter-square
                    i.fa.fa-google-plus-square
                    i.fa.fa-circle
                    a(href="#", class="minutes") Hace 12 minutos
                    i.fa.fa-circle
                    a(href="#", class="minutes") POLÍTICA
                .col-md-2
    section#encabezado
        .container-fluid.text-center
            .row
                .col-md-2
                .col-md-4
                    .news
                        h5 Mercado de Pases 2015
                        img(src="assets/image/img_especiales.jpg")
                        p Mercado de pases 2015 altas, bajas y rumores de los equipos peruanos
                        p Todo sobre mercado de pases 2015
                    .news
                        h5 Champions League
                        img(src="assets/image/img_especiales.jpg")
                        p Mercado de pases 2015 altas, bajas y rumores de los equipos peruanos
                        p Todo sobre mercado de pases 2015
                .col-md-4
                    .news
                        h5 Super Bowl
                        img(src="assets/image/img_especiales_aside.jpg")
                        p Ollanta Humala: Los que han perdido, más allá de los tambores y panderetas, son 2 millones de jóvenes | VIDEO
                        p Todo sobre el régimen laboral juvenil
                    .news
                        h5 Regimen laboral juvenil
                        .photos
                            a(href="#")
                                img(src="assets/image/img_especiales_aside.jpg")
                            .shadow
                                a(href="#") Super Bowl XLIX: New England Patriots se consagró campeón la NFL al ganar 28-24 a Seahawks | VIDEO
                .col-md-4
                    img(src="assets/image/banner-aside-home.jpg")
                .col-md-2