extends ./layout/header.jade
block pagina
    title index
block contenido
    include helpers/mixins
    include views/portada
    include views/columnistas
    include views/encabezado
        section#noticias
            .col-md-8
                .container-fluid
                    a(href="#", class="noticias-last") ÚLTIMAS NOTICIAS hola
                    i.fa.fa-angle-double-down
                    h6 Hace 1 hora 12 mins
                    h4 Emma Watson protagonizará 'La bella y la bestia' | VIDEO
                    .news-relevantes
                        +about-someone ("assets/image/img_news.jpg")
                        +social
                    hr
                    h6 Hace 1 hora 12 mins
                    h4 Roque Benavides respalda proyecto Tía María y espera que Conga se socialice
                    .news-relevantes
                        img(src="assets/image/img_news.jpg")
                        p Zenaida Condori Contreras Arequipa Para el presidente de la Compañía de Minas Buenaventura, Roque Benavides, el proyecto Tía María, que promueve Southern Perú, ya debe...
                        +social-2
                    hr
                    h6 Hace 1 hora 12 mins
                    h4 Youtube: hombre finge ahogarse y su perro lo rescata | FOTOS
                    .news-relevantes
                        img(src="assets/image/img_news.jpg")
                        p La actriz Emma Watson fue confirmada por Disney como la protagonista de la 'La bella y la bestia' en la versión de carne y hueso.
                        +social-3
                    hr
                    h6 Hace 1 hora 12 mins
                    h4 Real Madrid: Cristiano Ronaldo fue sancionado con dos partidos y sí estará contra el atlético de Madrid
                    .news-relevantes
                        img(src="assets/image/img_news.jpg")
                        p Después de la pésima actitud de Cristiano Ronaldo, al agredir a Edimar en el partido del cuadro madridista contra el Córdoba, el Comité de Competición ha llegado a la...
                        +social-2
                    hr
                    h6 Hace 1 hora 12 mins
                    h4 Emma Watson protagonizará 'La bella y la bestia' | VIDEO
                    .news-relevantes
                        +about-someone ("assets/image/img_news.jpg")
                        +social
                    hr
                    h6 Hace 1 hora 12 mins
                    h4 Roque Benavides respalda proyecto Tía María y espera que Conga se socialice
                    .news-relevantes
                        img(src="assets/image/img_news.jpg")
                        p Zenaida Condori Contreras Arequipa Para el presidente de la Compañía de Minas Buenaventura, Roque Benavides, el proyecto Tía María, que promueve Southern Perú, ya debe...
                        +social-2
                    hr
                    h6 Hace 1 hora 12 mins
                    h4 Youtube: hombre finge ahogarse y su perro lo rescata | FOTOS
                    .news-relevantes
                        img(src="assets/image/img_news.jpg")
                        p La actriz Emma Watson fue confirmada por Disney como la protagonista de la 'La bella y la bestia' en la versión de carne y hueso.
                        +social-3
                    hr
                    h6 Hace 1 hora 12 mins
                    h4 Real Madrid: Cristiano Ronaldo fue sancionado con dos partidos y sí estará contra el atlético de Madrid
                    .news-relevantes
                        img(src="assets/image/img_news.jpg")
                        p Después de la pésima actitud de Cristiano Ronaldo, al agredir a Edimar en el partido del cuadro madridista contra el Córdoba, el Comité de Competición ha llegado a la...
                        +social-2
                    hr
                    h6 Hace 1 hora 12 mins
                    h4 Emma Watson protagonizará 'La bella y la bestia' | VIDEO
                    .news-relevantes
                        +about-someone ("assets/image/img_news.jpg")
                        +social
                    hr
                    h6 Hace 1 hora 12 mins
                    h4 Roque Benavides respalda proyecto Tía María y espera que Conga se socialice
                    .news-relevantes
                        img(src="assets/image/img_news.jpg")
                        p Zenaida Condori Contreras Arequipa Para el presidente de la Compañía de Minas Buenaventura, Roque Benavides, el proyecto Tía María, que promueve Southern Perú, ya debe...
                        +social-2
                    hr
                    h6 Hace 1 hora 12 mins
                    h4 Youtube: hombre finge ahogarse y su perro lo rescata | FOTOS
                    .news-relevantes
                        img(src="assets/image/img_news.jpg")
                        p La actriz Emma Watson fue confirmada por Disney como la protagonista de la 'La bella y la bestia' en la versión de carne y hueso.
                        +social-3
                    hr
                    h6 Hace 1 hora 12 mins
                    h4 Real Madrid: Cristiano Ronaldo fue sancionado con dos partidos y sí estará contra el atlético de Madrid
                    .news-relevantes
                        img(src="assets/image/img_news.jpg")
                        p Después de la pésima actitud de Cristiano Ronaldo, al agredir a Edimar en el partido del cuadro madridista contra el Córdoba, el Comité de Competición ha llegado a la...
                        +social-2
                    hr
                    h6 Hace 1 hora 12 mins
                    h4 Emma Watson protagonizará 'La bella y la bestia' | VIDEO
                    .news-relevantes
                        img(src="assets/image/img_news.jpg")
                        p La actriz Emma Watson fue confirmada por Disney como la protagonista de la 'La bella y la bestia' en la versión de carne y hueso.
                        +social-2
                    hr
                    h6 Hace 1 hora 12 mins
                    h4 Roque Benavides respalda proyecto Tía María y espera que Conga se socialice
                    .news-relevantes
                        img(src="assets/image/img_news.jpg")
                        p Zenaida Condori Contreras Arequipa Para el presidente de la Compañía de Minas Buenaventura, Roque Benavides, el proyecto Tía María, que promueve Southern Perú, ya debe...
                        +social-3
                    hr
                    h6 Hace 1 hora 12 mins
                    h4 Youtube: hombre finge ahogarse y su perro lo rescata | FOTOS
                    .news-relevantes
                        img(src="assets/image/img_news.jpg")
                        p La actriz Emma Watson fue confirmada por Disney como la protagonista de la 'La bella y la bestia' en la versión de carne y hueso.
                        +social-2
                    hr
                    h6 Hace 1 hora 12 mins
                    h4 Real Madrid: Cristiano Ronaldo fue sancionado con dos partidos y sí estará contra el atlético de Madrid
                    .news-relevantes
                        +about-someone ("assets/image/img_news.jpg")
                        +social
                    hr
                    h6 Hace 1 hora 12 mins
                    h4 Emma Watson protagonizará 'La bella y la bestia' | VIDEO
                    .news-relevantes
                        img(src="assets/image/img_news.jpg")
                        p La actriz Emma Watson fue confirmada por Disney como la protagonista de la 'La bella y la bestia' en la versión de carne y hueso.
                        +social-2
                    hr
                    h6 Hace 1 hora 12 mins
                    h4 Roque Benavides respalda proyecto Tía María y espera que Conga se socialice
                    .news-relevantes
                        img(src="assets/image/img_news.jpg")
                        p Zenaida Condori Contreras Arequipa Para el presidente de la Compañía de Minas Buenaventura, Roque Benavides, el proyecto Tía María, que promueve Southern Perú, ya debe...
                        +social-3
                    hr
                    h6 Hace 1 hora 12 mins
                    h4 Youtube: hombre finge ahogarse y su perro lo rescata | FOTOS
                    .news-relevantes
                        img(src="assets/image/img_news.jpg")
                        p La actriz Emma Watson fue confirmada por Disney como la protagonista de la 'La bella y la bestia' en la versión de carne y hueso.
                        +social-2
                    hr
                    h6 Hace 1 hora 12 mins
                    h4 Real Madrid: Cristiano Ronaldo fue sancionado con dos partidos y sí estará contra el atlético de Madrid
                    .news-relevantes
                        +about-someone ("assets/image/img_news.jpg")
                        +social
                    hr
                    h6 Hace 1 hora 12 mins
                    h4 Emma Watson protagonizará 'La bella y la bestia' | VIDEO
                    .news-relevantes
                        img(src="assets/image/img_news.jpg")
                        p La actriz Emma Watson fue confirmada por Disney como la protagonista de la 'La bella y la bestia' en la versión de carne y hueso.
                        +social-2
                    hr
                    h6 Hace 1 hora 12 mins
                    h4 Emma Watson protagonizará 'La bella y la bestia' | VIDEO
                    .news-relevantes
                        img(src="assets/image/img_news.jpg")
                        p La actriz Emma Watson fue confirmada por Disney como la protagonista de la 'La bella y la bestia' en la versión de carne y hueso.
                        +social-3
                    hr
                    h6 Hace 1 hora 12 mins
                    h4 Emma Watson protagonizará 'La bella y la bestia' | VIDEO
                    .news-relevantes
                        img(src="assets/image/img_news.jpg")
                        p La actriz Emma Watson fue confirmada por Disney como la protagonista de la 'La bella y la bestia' en la versión de carne y hueso.
                        +social-2
                    hr
                    h6 Hace 1 hora 12 mins
                    h4 Emma Watson protagonizará 'La bella y la bestia' | VIDEO
                    .news-relevantes
                        img(src="assets/image/img_news.jpg")
                        p La actriz Emma Watson fue confirmada por Disney como la protagonista de la 'La bella y la bestia' en la versión de carne y hueso.
                        +social-2
                    hr
                    h6 Hace 1 hora 12 mins
                    h4 Emma Watson protagonizará 'La bella y la bestia' | VIDEO
                    .news-relevantes
                        img(src="assets/image/img_news.jpg")
                        p La actriz Emma Watson fue confirmada por Disney como la protagonista de la 'La bella y la bestia' en la versión de carne y hueso.
                        +social-3
                    hr
                    h6 Hace 1 hora 12 mins
                    h4 Emma Watson protagonizará 'La bella y la bestia' | VIDEO
                    .news-relevantes
                        img(src="assets/image/img_news.jpg")
                        p La actriz Emma Watson fue confirmada por Disney como la protagonista de la 'La bella y la bestia' en la versión de carne y hueso.
                        +social-2
                    hr
                    h6 Hace 1 hora 12 mins
                    h4 Emma Watson protagonizará 'La bella y la bestia' | VIDEO
                    .news-relevantes
                        +about-someone ("assets/image/img_news.jpg")
                        +social
                    hr
                    h6 Hace 1 hora 12 mins
                    h4 Emma Watson protagonizará 'La bella y la bestia' | VIDEO
                    .news-relevantes
                        img(src="assets/image/img_news.jpg")
                        p La actriz Emma Watson fue confirmada por Disney como la protagonista de la 'La bella y la bestia' en la versión de carne y hueso.
                        +social-2
                    hr
                    h6 Hace 1 hora 12 mins
                    h4 Emma Watson protagonizará 'La bella y la bestia' | VIDEO
                    .news-relevantes
                        img(src="assets/image/img_news.jpg")
                        p La actriz Emma Watson fue confirmada por Disney como la protagonista de la 'La bella y la bestia' en la versión de carne y hueso.
                        +social-3
                    hr
                    h6 Hace 1 hora 12 mins
                    h4 Emma Watson protagonizará 'La bella y la bestia' | VIDEO
                    .news-relevantes
                        img(src="assets/image/img_news.jpg")
                        p La actriz Emma Watson fue confirmada por Disney como la protagonista de la 'La bella y la bestia' en la versión de carne y hueso.
                        +social-2
                    hr
                    h6 Hace 1 hora 12 mins
                    h4 Emma Watson protagonizará 'La bella y la bestia' | VIDEO
                    .news-relevantes
                        +about-someone ("assets/image/img_news.jpg")
                        +social
                    hr
                    h6 Hace 1 hora 12 mins
                    h4 Emma Watson protagonizará 'La bella y la bestia' | VIDEO
                    .news-relevantes
                        img(src="assets/image/img_news.jpg")
                        p La actriz Emma Watson fue confirmada por Disney como la protagonista de la 'La bella y la bestia' en la versión de carne y hueso.
                        +social-2
                    hr
                    h6 Hace 1 hora 12 mins
                    h4 Emma Watson protagonizará 'La bella y la bestia' | VIDEO
                    .news-relevantes
                        img(src="assets/image/img_news.jpg")
                        p La actriz Emma Watson fue confirmada por Disney como la protagonista de la 'La bella y la bestia' en la versión de carne y hueso.
                        +social-3
                    hr
                    h6 Hace 1 hora 12 mins
                    h4 Emma Watson protagonizará 'La bella y la bestia' | VIDEO
                    .news-relevantes
                        img(src="assets/image/img_news.jpg")
                        p La actriz Emma Watson fue confirmada por Disney como la protagonista de la 'La bella y la bestia' en la versión de carne y hueso.
                        +social-2
                    hr
                .col-md-4
                    .box-boletin
                        .mensajeria
                            img(src="assets/image/img_sucribe.png")
                            h4 Suscríbete a nuestro boletín
                            input(type='search')
                            button(type='submit') SUSCRIBIRSE
                    .aweita
                        img(src="assets/image/logo_aweita.jpg", class="logo")
                        .img-aweita.clearfix
                            img(src="assets/image/img_aweita.jpg", class="futbol")
                            p Juan Román Riquelme el adiós a 'Último 10' de Argentina
                        .img-aweita.clearfix
                            img(src="assets/image/img_aweita.jpg", class="futbol")
                            p.parrafo Lewis Carroll: un día como hoy nació el autor de 'Alici en el..'
                        .img-aweita.clearfix
                            img(src="assets/image/img_aweita.jpg", class="futbol")
                            p.parrafo Juan Román Riquelme el adiós a 'Último 10' de Argentina
                        .img-aweita.clearfix
                            img(src="assets/image/img_aweita.jpg", class="futbol")
                            p.parrafo Gameplay de 'Dead Kings', el descargable premium de 'Assasins's
                        p.link Más en
                            a(href="#") Aweita.pe
                        .raya
                    .fotos-destacadas.clearfix
                        +separador ("FOTOS DESTACADAS")
                        img(src="assets/image/img_fotodes_prominent.jpg")
                        p.lineas Líneas de Nasca: Admiten prisión preventiva de 6 meses para activista de Greenpeace | FOTOS
                    .fotos-destacadas1.clearfix
                        img(src="assets/image/img_fotodes.jpg")
                        p Uchuraccay: El pueblo que recibe con flores a quienes llegan a pie | FOTOS
                    .fotos-destacadas1.clearfix
                        img(src="assets/image/img_fotodes.jpg")
                        p Alianza Lima vs Fénix: íntimos ganaron 1-0 en "Noche Blanquiazul" | VIDEO Y FOTOS
                    .fotos-destacadas1.clearfix
                        img(src="assets/image/img_fotodes.jpg")
                        p Alianza Lima vs Fénix: íntimos ganaron 1-0 en "Noche Blanquiazul" | VIDEO Y FOTOS
                    hr
                    .especiales
                        +separador ("ESPECIALES")
                        .cuadro
                            h5 Régimen laboral juvenil
                        .cuadro
                            h5 Régimen laboral juvenil
                        .cuadro
                            h5 Régimen laboral juvenil
                        .cuadro
                            h5 Régimen laboral juvenil
                    .caricaturas
                        +separador ("CARICATURAS DEL DÍA")
                        h5 Carlincaturas 30-01-2015
                        img(src="assets/image/img_carlincatura_sd.jpg")
                        p Todas las carlincaturas
                        hr
                    .blogueros
                        +separador ("NUESTROS BLOGUEROS")
                    +section-blog ("Charlie Hebdo, historia que no debe repetirse")
                    +section-blog ("El único pulpin es Humala")
                    +section-blog ("Dios ha muerto, tengo las manos")
                    +section-blog ("El único pulpin es Humala")
                    +section-blog ("Charlie Hebdo, historia que no debe repetirse")
                    +section-blog ("El único pulpin es Humala")
                    +section-blog ("Dios ha muerto, tengo las manos")
                    +section-blog ("El único pulpin es Humala")
                    p.p-blog Todos los blogs
                    hr
                    .edicion-impresa
                        +separador ("EDICIÓN IMPRESA")
                        h5.general La república - Lima
                        img(src="assets/image/img_impreso_sd_prominent.jpg")
                    .newspaper.clearfix
                        img(src="assets/image/img_impreso_sd.jpg")
                        h5.republica Extorsionan a menores en colegios
                        a(href="#") La República - 
                    .newspaper.clearfix
                        img(src="assets/image/img_impreso_sd.jpg")
                        h5.republica Extorsionan a menores en colegios
                        a(href="#") La República - Norte
                    .newspaper.clearfix
                        img(src="assets/image/img_impreso_sd.jpg")
                        h5.republica Extorsionan a menores en colegios
                        a(href="#") La República - Norte
                    hr
                    .especiales
                        +separador ("INFOGRAFÍAS")
                        .cuadro
                            h5 Régimen laboral juvenil
                        .cuadro
                            h5 Régimen laboral juvenil
                    hr
                    .box-bar
                        .encuesta
                            img(src="assets/image/img_pregunta.png")
                            h4 La pregunta de hoy
                            p.parrafo1 ¿Cree usted que la premier Ana Jara debe renunciar?
                            input(type='search')
                            button(type='submit') VOTAR
                            p.parrafo Ver resultados
                        .resultados
                            h4 La pregunta de ayer
                            p ¿Cree usted que se materializó la conmemoración del fallo de la Haya en Lima?
                            .progress
                                .progress-bar
                                    p 55%
                            .progress
                                .progress-bar1
                                    p 25%
                            p.parrafo Ver preguntas pasadas
                    .libero
                        img(src="assets/image/logo_libero.jpg", class="logo")
                        .img-libero.clearfix
                            img(src="assets/image/img_aweita.jpg", class="futbol")
                            p Juan Román Riquelme el adiós a 'Último 10' de Argentina
                        .img-libero.clearfix
                            img(src="assets/image/img_aweita.jpg", class="futbol")
                            p.parrafo Lewis Carroll: un día como hoy nació el autor de 'Alici en el..'
                        .img-libero.clearfix
                            img(src="assets/image/img_aweita.jpg", class="futbol")
                            p.parrafo Juan Román Riquelme el adiós a 'Último 10' de Argentina
                        .img-libero.clearfix
                            img(src="assets/image/img_aweita.jpg", class="futbol")
                            p.parrafo Gameplay de 'Dead Kings', el descargable premium de 'Assasins's
                        p.link Más en
                            a(href="#") Libero.pe
                        .raya
                    .el-popular
                        img(src="assets/image/logo_popular.jpg", class="logo")
                        .img-popular.clearfix
                            img(src="assets/image/img_aweita.jpg", class="futbol")
                            p Juan Román Riquelme el adiós a 'Último 10' de Argentina
                        .img-popular.clearfix
                            img(src="assets/image/img_aweita.jpg", class="futbol")
                            p.parrafo Lewis Carroll: un día como hoy nació el autor de 'Alici en el..'
                        .img-popular.clearfix
                            img(src="assets/image/img_aweita.jpg", class="futbol")
                            p.parrafo Juan Román Riquelme el adiós a 'Último 10' de Argentina
                        .img-popular.clearfix
                            img(src="assets/image/img_aweita.jpg", class="futbol")
                            p.parrafo Gameplay de 'Dead Kings', el descargable premium de 'Assasins's
                        p.link Más en
                            a(href="#") elPopular.pe
                        .raya
                    .wapa
                        img(src="assets/image/logo_wapa.jpg", class="logo")
                        .img-wapa.clearfix
                            img(src="assets/image/img_aweita.jpg", class="futbol")
                            p Juan Román Riquelme el adiós a 'Último 10' de Argentina
                        .img-wapa.clearfix
                            img(src="assets/image/img_aweita.jpg", class="futbol")
                            p.parrafo Lewis Carroll: un día como hoy nació el autor de 'Alici en el..'
                        .img-wapa.clearfix
                            img(src="assets/image/img_aweita.jpg", class="futbol")
                            p.parrafo Juan Román Riquelme el adiós a 'Último 10' de Argentina
                        .img-wapa.clearfix
                            img(src="assets/image/img_aweita.jpg", class="futbol")
                            p.parrafo Gameplay de 'Dead Kings', el descargable premium de 'Assasins's
                        p.link Más en
                            a(href="#") Wapa.pe
                        .raya
                    .box-car
                        .mensajeria
                            img(src="assets/image/img_reporteroc.png", class="camera")
                            h4 Reportero ciudadano
                            img(src="assets/image/img_sd_reporteroc.jpg", class="car")
                            h5 Estacionamiento indebido
                            p ¿Está permitido que dejen sus auto en reiteradas ocasiones toda la noche en la puerta de tu casa? Placa DG6232, eso que antes lo dejaba entre la vereda y mi puerta
                        button(type='submit') ENVIAR FOTOS
                        h5.color Más fotos