doctype html
html(lang='es-PE')
	head
		meta(charset='UTF-8')
		block pagina
			title Home
		link(href='http://fonts.googleapis.com/css?family=PT+Sans:400,700', rel='stylesheet', type='text/css')
		link(href='http://fonts.googleapis.com/css?family=Oswald:400,700', rel='stylesheet', type='text/css')
		link(rel='stylesheet', type='text/css', href='assets/css/dist/font-awesome.min.css')
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous")
		link(rel='stylesheet', type='text/css', href='assets/css/dist/bootstrap.min.css')
		link(rel='stylesheet', type='text/css', href='assets/css/dist/slick.css')
		link(rel='stylesheet', type='text/css', href='assets/css/dist/slick-theme.css')
		link(rel='stylesheet', type='text/css', href='assets/css/main.css')
		mixin navegador(url,texto)
			li
				a(href="") #{texto}
		mixin iconos(clase)
			li
				a(href="" class=clase)
		mixin droplist
			.dropdown
				a.btn.btn-mas.dropdown-toggle(type="button", id="dropdownMenu1" data-toggle="dropdown", aria-haspopup="true", aria-expanded="true")
					span MAS SECCIONES
					span.caret
				ul.dropdown-menu(aria-labelledby="dropdownMenu1")
					li
						a(href="index.html") home
					li 
						a(href="columnistas.html") Columnistas
					li 
						a(href="blogs.html") Blog
					li 
						a(href="contacto.html") Contacto
	body
		.navbar.navbar-default
			.container.publi
				.row.text-center
					.banner-top
					.navbar-nav
						a.navbar-brand(href='index.html') LIBERO.PE
						a.navbar-brand(href='blogs.html') ELPOPULAR.PE
						a.navbar-brand(href='columnistas.html') FUNDACIÓN GUSTAVO MOHME LLONA
					.navbar-collapse
						ul.nav.navbar-nav.navbar-right
							li
								span SUSCRÍBETE AL BOLETÍN
							+iconos('fa fa-facebook')
							+iconos('fa fa-twitter')
							+iconos('fa fa-google-plus')
							li
								a(href="contacto.html")
									img(src="./assets/image/sprites/ico-email.png", alt="")
							+iconos('fa fa-rss')
							button.subs.btn-default(type="btn-default") BUSCAR
		section#centro
			.container-fluid
				.col-sm-2.hidden-xs.hidden-sm
					.banner-left
				.col-sm-12
					.container
						.row
							.col-md-5
								.logo
							.col-md-5
								.domingo.text-center
									span DOMINGO
									p HABLA LA LIDERESA DEL NACIONALISMO
							.col-md-6
								.corrupcion.text-center
									img.edit(src="./assets/image/img_editorial_text.jpg", alt="")
									h4 La corrupción, los origenes
									span Por: Gustavo mohme llona
									img.pull-right(src="./assets/image/img_author.jpg", alt="")
						ul.nav-justified
							+navegador("#", "POLÍTICA")
							+navegador("#", "ECONOMÍA")
							+navegador("#", "SOCIEDAD")
							+navegador("#", "ELECC. REGIONALES")
							+navegador("#", "DEPORTES")
							+navegador("#", "CHAMPIONS L.")
							+navegador("#", "ESPECTÁCULOS")
							+navegador("#", "ED.IMPRESA") 
							+navegador("#", "REGIONALES") 
							li
								+droplist
						.nav.nav-pills
							span TEMAS DEL DIA
							+navegador("#", "Globos de oro")
								img(src="./assets/image/bullet.gif", alt="")
							+navegador("#", "Youtube")
								img(src="./assets/image/bullet.gif", alt="")
							+navegador("#", "PNP")
								img(src="./assets/image/bullet.gif", alt="")
							+navegador("#", "Charlie Hebdo")
								img(src="./assets/image/bullet.gif", alt="") 
							+navegador("#", "FC Barcelona")
								img(src="./assets/image/bullet.gif", alt="")
							+navegador("#", "Alianza Lima")
								img(src="./assets/image/bullet.gif", alt="")
							+navegador("#", "Balón")

						block contenido
				.col-sm-2.hidden-xs.hidden-sm
					.banner-right
		mixin nav(url,texto)
			li
				a(href=url) #{texto}
		footer#foot
			.container
				.row
					.col-md-4.col-sm-16
						img(src="assets/image/logo-grupo-la-republica.png", alt="logo")
						h1 Grupo La República Digital
						p Jr. Camaná 320 Cercado de Lima
						p Teléfono: 711-600
						p (Central Telefónica)
						span todos los derechos reservados-2015
					.col-md-3.col-sm-8
						ul
							+nav("#","Roger Federer")
							+nav("#","SBS")
							+nav("#","Scarlett Johansson")
							+nav("#","Scotiabank")
							+nav("#","Selena Gómez")
							+nav("#","Spiderman")
							+nav("#","Sporting Cristal")
							+nav("#","Sunat")
							+nav("#","Telefonica del Peru")
							+nav("#","The Walking Dead")
							+nav("#","Twitter")
							+nav("#","Universidad Cesar Vallejo")
							+nav("#","Universidad San Martin")
							+nav("#","Universitario de Deportes")
							+nav("#","Xbox")
							+nav("#","YouTube")
							+nav("#","Bayern Múnich")
							+nav("#","Bayern Munich")
							+nav("#","BBVA")
							+nav("#","Xbox")
							+nav("#","BCP")
					.col-md-3.col-xs-8
						ul
							+nav("#","Al fondo hay sitio")
							+nav("#","Alejandro Toledo")
							+nav("#","Alianza Lima")
							+nav("#","Alianza Lima")
							+nav("#","Banco de la Nación")
							+nav("#","Barack Obama")
							+nav("#","Universidad Cesar")
							+nav("#","Vallejo")
							+nav("#","Universidad San Martin")
							+nav("#","Barcelona")
							+nav("#","Bayern Múnich")
							+nav("#","Bayern Munich")
							+nav("#","BBVA")
							+nav("#","Xbox")
							+nav("#","BCP")
							+nav("#","Batman")
							+nav("#","Bayern Múnich")
							+nav("#","Bayern Munich")
							+nav("#","BBVA")
							+nav("#","Xbox")
							+nav("#","BCP")
					.col-md-3.col-sm-8
						ul
							+nav("#","One Direction")
							+nav("#","ONPE")
							+nav("#","Pablo Escobar")
							+nav("#","Paolo Guerrero")
							+nav("#","Pensión 65")
							+nav("#","PNP")
							+nav("#","Pensión dólar")
							+nav("#","Universidad Cesar Vallejo")
							+nav("#","Universidad San Martin")
							+nav("#","Premier League")
							+nav("#","Bayern Múnich")
							+nav("#","Bayern Munich")
							+nav("#","BBVA")
							+nav("#","Xbox")
							+nav("#","BCP")
							+nav("#","Proyecto Conga")
							+nav("#","PUCP")
							+nav("#","Real Madrid")
							+nav("#","Redes sociales")
							+nav("#","Reniec")
							+nav("#","Robert Pattinson")
					.col-md-3.col-sm-8
						ul
							+nav("#","Al fondo hay sitio")
							+nav("#","Alejandro Toledo")
							+nav("#","Alianza Lima")
							+nav("#","Alianza Lima")
							+nav("#","Banco de la Nación")
							+nav("#","Barack Obama")
							+nav("#","Universidad Cesar")
							+nav("#","Vallejo")
							+nav("#","Bayern Múnich")
							+nav("#","Bayern Munich")
							+nav("#","BBVA")
							+nav("#","Xbox")
							+nav("#","BCP")
							+nav("#","Universidad San Martin")
							+nav("#","Barcelona")
							+nav("#","Batman")
							+nav("#","Bayern Múnich")
							+nav("#","Bayern Munich")
							+nav("#","BBVA")
							+nav("#","Xbox")
							+nav("#","BCP")
								
		script(type='text/javascript', src='assets/js/jquery.js')
		script(src='http://code.jquery.com/jquery-1.11.2.min.js')
		script(src='http://code.jquery.com/jquery-migrate-1.2.1.min.js')
		script(type='text/javascript', src='assets/js/bootstrap.min.js')
		script(type='text/javascript', src='assets/js/slick.min.js')
		script(type='text/javascript', src='assets/js/bootstrap-hover-dropdown.min.js')
		script(type='text/javascript', src='assets/js/modernizr.custom.68172.js')
		script(type='text/javascript', src='assets/js/respond.js')
		script(type='text/javascript', src='assets/js/index.js')
