#foot{
	background-color: #E3E3E3;
	margin-top: 4%;
	padding-top: 5%;
	.container{
		.row{
			.col-md-4{
				img{
					padding-top: 40%;
				}
				h1{
					font-size: 15px;
				}
				p{
					font-size: 12px;
				}
				span{
					font-size: 11px;
				}
			}
			.col-md-3{
				ul{
					li{
						list-style: none;
						a{
							text-decoration: none;
							color:black;
							font-size: 10px;
						}
					}
				}
			}
		}
	}
}