$pesado:bolder;
$alto:580px;
$size:100%;
$plomoclaro:#E2E2E2;
$guinda:#941010;
$editorial:#2C3238;
.estimg{
	background:url(../../assets/image/banner_top.jpg)no-repeat;
	background-size: cover;
	width: 100%;
	height: 100px;
	margin-top:1%;
}
.estiloa{
	font-size: 10px;
	padding-top: 0px;
	padding-left: 5px;
	display: inline;
}
.style-let{
	font-size:1em;
	padding:2px;
	background-color:$guinda;
	color:white;
	font-weight: $pesado;
}
.mt{
	margin-top:100%;
}
.margin{
	border:1px solid $plomoclaro;
}
.colores{
	font-size: 1em;
}
.publi{
	.banner-top{
		@extend .estimg;
		margin-bottom: 20px;
	}
}
.navbar{
	.navbar-brand{
		@extend .estiloa;
	}
	.navbar-nav{
		li{
			span{
				font-size: 8px;
				padding:4% 2px;
				background:#DD4A4A;
				color:white;
				border-radius:4px;
			}
			.fa-facebook{
				color:#2A65A1;
			}
			.fa-twitter{
				color:#4BB7D9;
			}
			.fa-google-plus{
				color:#CA4739;
			}
			.fa-rss{
				color:#FF8000;
			}
			a{
				@extend .estiloa;
				@extend .colores;
				img{
					height:15px;
				}
			}
		}
		.subs{
			font-size: 10px;
		}
	}
}
#centro{
	.banner-left{
		@extend .estimg;
		background:url(../../assets/image/publicidad1.png)no-repeat;
		background-size: $size;
		height: $alto;
		@extend .mt;
	}
	.container{
		.row{
			.logo{
				@extend .estimg;
				background:url(../../assets/image/logo-la-republica.jpg)no-repeat;
			}
			.domingo{
				@extend .margin;
				border-bottom: 3px $guinda solid;
				padding: 4% 2%;
				position:absolute;
				span{
					@extend .style-let;
					position: relative;
					bottom:20px;
				}
				p{
					font-size:0.8em;
					font-weight: $pesado;
				}
			}
			.corrupcion{
				@extend .margin;
				position:absolute;
				width:80%;
				padding:2%;
				margin-left: 8%;
				border-radius:20px;
				.edit{
					position:absolute;
					height:70px;
					left:-5px;
					top:0px;
				}
				h4{
					font-size: 0.86em;
					font-weight: $pesado;
					text-align: center;
				}
				img{
					position:absolute;
					left:275px;
					bottom:5px;
				}
			}
		}
		.nav-justified{
			border-radius: 10px;
			background: #BA1414;
			padding: 1%;
				li{
					a{
						font-size: 9px;
						color:white;
						font-weight: $pesado;
						text-decoration: none;
					}
					.dropdown{
						.dropdown-menu{
							background:#BA1414;
							li{
								a{

								}
							}
						}
					}
				}
			}
		.nav.nav-pills{
			background: #E4E7EA;
			padding-left: 150px;
			border-radius: 10px;
			span{
				background:black;
				color:white;
				padding:1.2%;
				font-size: 10px;
				position:relative;
				right:750px;
				top: 5px;
			}
			li{
				a{
					color:black;
					font-size: 10px;
					margin-left: 10px;
				}
			}
		}
	}
	.banner-right{
		background:url(../../assets/image/publicidad2.png)no-repeat;
		background-size: $size;
		height: $alto;
		@extend .mt;
	}
}